/*                                      Key positions

   ╭──────────────────────┬─────────────────────╮
	 │  LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
╭──╯  LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 ╰───╮
│ LB5 LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 RB5 │
╰──────────╮  LH2 LH1 LH0 │ RH0 RH1 RH2 ╭───────────╯
           ╰──────────────┴─────────────╯
*/

#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

ZMK_COMBO(cut,   	&kp LC(X),  LB3 LB1,	DEF NAV,	COMBO_TERM_FAST,	COMBO_IDLE_FAST)
ZMK_COMBO(copy,  	&kp LC(C),	LB3 LB2,	DEF NAV,	COMBO_TERM_FAST,	COMBO_IDLE_FAST)
ZMK_COMBO(paste,	&kp LC(V),  LB2 LB1,	DEF NAV,	COMBO_TERM_FAST,	COMBO_IDLE_FAST)
ZMK_COMBO(undo,  	&kp LC(Z),  LB4 LB3,	DEF NAV,	COMBO_TERM_FAST,	COMBO_IDLE_FAST)
ZMK_COMBO(redo,  	&kp LC(Y),  LB1 LB0,	DEF NAV,	COMBO_TERM_FAST,	COMBO_IDLE_FAST)

ZMK_COMBO(win_paste,	&kp LG(V),	LB4 LB1,	DEF NAV,	COMBO_TERM_FAST,	COMBO_IDLE_FAST)