//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Num       	1
#define Nav         2
#define Media       3
#define Fun         4
#define Game        5
#define Gameplus    6

&mt {
    quick-tap-ms = <125>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <285>;
};

&lt {
    tapping-term-ms = <285>;
    flavor = "tap-preferred";
    quick-tap-ms = <125>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <285>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
        &kp Q       &kp W       &kp E          &kp R         &kp T         &kp Y      &kp U        &kp I        &kp O       &kp P
        &hm LGUI A  &hm LALT S  &hm LCTRL D    &hm LSHIFT F  &kp G         &kp H      &hm RSHFT J  &hm RCTRL K  &hm RALT L  &hm RGUI SEMICOLON
&gresc  &kp Z       &kp X       &kp C          &kp V         &kp B         &kp N      &kp M        &kp COMMA    &kp DOT     &kp SLASH           &lt 5 APOSTROPHE
                                &mt LCTRL DEL  &lt 3 TAB     &kp LSHIFT    &kp SPACE  &lt 2 BSPC   &lt 4 ENTER
            >;
        };

        Graphite {
            label = "Alt";
            bindings = <
        &kp B           &kp L       &kp D          &kp W         &kp Z         &kp APOS   &kp F         &kp O        &kp U       &kp J
        &hm LEFT_GUI N  &hm LALT R  &hm LCTRL T    &hm LSHIFT S  &kp G         &kp Y      &hm LSHIFT H  &hm LCTRL A  &hm LALT E  &hm LEFT_GUI I
&gresc  &kp Q           &kp X       &kp M          &kp C         &kp V         &kp K      &kp P         &kp DOT      &kp SEMI    &kp SLASH       &lt 5 COMMA
                                    &mt LCTRL DEL  &lt 3 TAB     &kp LSHIFT    &kp SPACE  &lt 2 BSPC    &lt 4 ENTER
            >;
        };

        Num {
            label = "Num";
            bindings = <
       &kp GRAVE  &kp AMPS  &kp ASTRK    &kp UNDER  &kp LBRC    &kp RBRC   &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PLUS
       &kp BSLH   &kp DLLR  &kp PERCENT  &kp CARET  &kp LBKT    &kp RBKT   &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp MINUS
&none  &none      &kp EXCL  &kp AT       &kp HASH   &kp LPAR    &kp RPAR   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp EQUAL  &none
                            &none        &kp TAB    &trans      &kp SPACE  &trans        &kp NUMBER_0
            >;
        };

        Nav {
            bindings = <
       &kp PG_UP  &kp PSCRN        &kp UP    &caps_word  &kp HOME    &kp INS  &none     &none  &none  &none
       &kp PG_DN  &kp LEFT         &kp DOWN  &kp RIGHT   &kp END     &kp DEL  &none     &none  &none  &none
&none  &none      &kp LC(LA(DEL))  &none     &none       &none       &none    &none     &none  &none  &none  &none
                                   &none     &trans      &none       &none    &kp BSPC  &none
            >;

            label = "Nav";
        };

        Media {
            bindings = <
       &none  &none  &none  &none  &none    &kp C_VOL_UP  &kp C_PREV  &kp C_PP  &kp C_NEXT  &none
       &none  &none  &none  &none  &none    &kp C_VOL_DN  &kp C_RW    &none     &kp C_FF    &none
&none  &none  &none  &none  &none  &none    &kp C_MUTE    &none       &none     &none       &none  &none
                     &none  &none  &none    &none         &none       &trans
            >;
        };

        Fun {
            label = "Fun";
            bindings = <
                &none  &kp F7  &kp F8  &kp F9  &to 1    &none  &none  &none  &none  &kp F1
                &none  &kp F4  &kp F5  &kp F6  &to 6    &none  &none  &none  &none  &kp F10
&studio_unlock  &none  &kp F1  &kp F2  &kp F3  &none    &none  &none  &none  &none  &kp F20  &trans
                               &none   &none   &none    &none  &none  &none
            >;
        };

        Gaming {
            bindings = <
           &trans  &trans  &trans   &trans      &trans       &trans  &trans  &trans  &trans  &trans
           &kp A   &kp S   &kp D    &kp F       &mo 7        &trans  &trans  &trans  &trans  &trans
&kp LCTRL  &trans  &trans  &trans   &trans      &trans       &trans  &trans  &trans  &trans  &trans  &trans
                           &kp ESC  &kp LSHIFT  &kp SPACE    &trans  &trans  &trans
            >;

            label = "Gaming";
        };

        Gaming+ {
            bindings = <
       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5    &trans  &trans  &trans  &trans  &kp LC(LA(DEL))
       &kp L         &kp O         &kp Y         &kp K         &trans          &kp F5  &trans  &trans  &trans  &trans
&to 0  &to 0         &kp J         &kp I         &kp NUMBER_6  &kp NUMBER_7    &trans  &trans  &trans  &trans  &trans           &kp LA(F4)
                                   &kp G         &kp TAB       &kp M           &trans  &trans  &trans
            >;

            label = "Gaming+";
        };
    };
};
